.vs/
.vscode/

myArraySort/Debug/
myArraySort/ipch/

myArraySort/myArraySort/Debug/
myArraySort/myArraySort/myArraySort.vcxproj*
myArraySort/myArraySort/myArraySort.vcxproj*

myArraySort/myArraySort.*