.vs/
.vscode/

myArraySort/Debug/
myArraySort/ipch/

myArraySort/myArraySort/Debug/
myArraySort/myArraySort/myArraySort.vcxproj*

myArraySort/myArraySort.*

myListTest/.vscode/
myListTest/Debug/
myListTest/ipch/
myListTest/myListTest/Debug/

myListTest/myListTest/myListTest.vcxproj*
myListTest/myListTest.*

myStackTest/.vscode/
myStackTest/Debug/
myStackTest/ipch/
myStackTest/myStackTest/Debug/

myStackTest/myStackTest/myStackTest.vcxproj*
myStackTest/myStackTest.*